.aveo-custom-code-wrap {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.aveo-custom-code-wrap .wp-list-table {
    width: 100%;
}
.snippet-type-filter-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #CACACA;
    position: relative;
    
}
.snippet-type-filter-wrap div {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #E2E2E2;
    border: 1px solid #CACACA;
    border-bottom: 0;
    padding: 10px 20px;
}
.snippet-type-filter-wrap div.active {
    background-color: #F0F0F1;
    border-bottom: 1px solid #F0F0F1;
    margin-bottom: -1px;
}
.num-of-snippets {
    position: absolute;
    right: 30px;
}
.snippet-table {
    background-color: #fff;
}
.snippet-table {
    border-collapse: collapse; 
}

.snippet-table td, .snippet-table th {
    border-bottom: 2px solid #CACACA; 
    text-align: left;
}
.snippet-table th {
    padding: 10px;
}
.snippet-table td {
    padding: 10px;
}
.snippet-table td:last-child, .snippet-table th:last-child {
    text-align: center;
}
.snippet-actions {
    display: flex;
    padding: 2px 0;
}
.snippet-actions a {
    border-right: 1px solid #CACACA;
    padding: 2px 8px;
    text-decoration: none;
}
.snippet-actions a:last-child {
    border-right: 0;
    color: #B12222;
}
.snippet-actions a:first-child {
    padding-left: 0;
}
.snippet-name {
    font-size: 16px;
    margin: auto;
    text-decoration: none;
    margin: 10px 0;
}


/* Switch for snippet activation */

/* Hide default checkbox */
.snippet-activate-switch {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

/* Style the label to look like a switch */
.switch {
    position: relative;
    display: block; /* Change to inline-block if you prefer it inline */
    width: 30px; /* Width of the switch */
    height: 17px; /* Height of the switch */
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0; /* Aligns the switch to the right of the label */
    bottom: 0;
    left: 0; /* Adjust based on label width */
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + label .slider {
    background-color: #2196F3;
}

input:checked + label .slider:before {
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Hide import wrapper */
.import-snippet-animate {
    display: none;
}
.new-snippet-button-wrap {
    display: flex;
    gap: 20px;
}
.import-snippet-button, .create-snippet-button {
    border: 1px solid #2271B1;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #3c434a;
    cursor: pointer;
}
.import-snippet-button:focus, .create-snippet-button:focus {
    outline: none;
}
.import-snippet-button:hover, .create-snippet-button:hover {
    background-color: #2271B1;
    color: #fff !important;
}
.import-snippet-button.active {
    background-color: #2271B1 !important;
    color: #fff !important;
}
.import-snippet-content {
    display: flex;
    gap: 20px;
}

/* Import input - style */
.import-snippet-file-wrap {
    width: 75%;
}

#file-input-label {
    width: 100%;
    height: 100%;
    border: 1px solid #CACACA; 
    
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    cursor: pointer; /* Change cursor on hover */
    background-color: #FFFFFF; /* Light background */
}
.file-input-content {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.custom-plus-icon {
    font-size: 40px;
    color: #000000;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.file-input-text {
    display: block;
    font-size: 16px;
} 

.file-input-plus {
    font-size: 60px;
    color: #CACACA;
} 
    
.dragover {
    border: 2px dashed #000; /* Example style */
}

#import-snippet-file {
    display: none;
}

/* Snippet list wrapper */
.snippet-list-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* snippet actions - style */
.snippet-actions-animate {
    display: none;
}

.bulk-snippet-actions {
    display: flex;
    flex-direction: column;
}

.bulk-snippet-actions div {
    border-right: 1px solid #CACACA;
    padding: 0 10px;
}

.bulk-snippet-actions span {
    display: flex;
}

.bulk-snippet-actions div:last-child {
    border-right: 0;
    color: #B12222;
}

.bulk-snippet-actions div:last-child:hover {
    color: #3c434a;
}

.bulk-snippet-actions div:first-child {
    padding-left: 0;
}

.bulk-heading {
    font-weight: bold;
}

.snippet-action-button {
    color: #2271B1;
    cursor: pointer;
}

.snippet-action-button:hover {
    color: #3c434a;
}




