.aveo-custom-code-snippet-condition-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    gap: 20px;
    width: 20%;
    height: 350px;
    position: sticky;
    top: 45px;
    padding: 20px 10px;
}
.custom-code-special-heading {
    margin-bottom: -20px;
}
.aveo-custom-code-snippet-condition-wrap div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#aveo-custom-code-form {
    width: 100%;
}
.CodeMirror {
    height: 1000px !important;
}
.code-editor-before .CodeMirror-sizer::before {
    content: "<\?php";
    display: block;
    color: #999;
}
.code-editor-before .CodeMirror-sizer.hide-before::before {
    display: none;
}
.aveo-custom-code-wrap form {
    display: flex;
    position: relative;
    gap: 20px;
}
.aveo-custom-code-snippet-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.aveo-custom-code-snippet-info input {
    width: 100%;
}
.aveo-custom-code-snippet-info textarea {
    width: 100%;
}
.aveo-custom-code-snippet-info label {
    font-size: 16px;
    font-weight: bold;
}
.aveo-custom-code-snippet-info div {
    display: flex;
    flex-direction: column;
}
.snippet-discription-label {
    padding: 5px 0;
}
